.venv/
__pycache__/                                                                                                                                                       
*.pyc
*.egg-info/                                                                                                                                                        
failed_executions.txt                                                                                                                                              
outputs/                    
*.log                                                                                                                                                              
.venv/
